body{
    margin: 0;
    padding: 0;
    background-image: url("../img/main background.png"); 
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    overflow: hidden
}

.header{
    position: absolute;
    background-image: url("../img/main line.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
