body{
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    align-items: center;
    background-image: url("../img/main background.png"); 
    width: device-width;
    length: device-length;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    overflow: hidden
}

.header{
    position: absolute; 
    width: device-width;
    display: flex;
    length: device-length;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
