body{
    margin: 0;
    padding: 0;
    background-image: url("../img/main background.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.fonth1{
  font-family: "Garamond";
}

<style>
#Headline{
    position: relative;
}

.Headline{
    position: absolute;
    top: 50%;
    left: 65px;
    text-transform: uppercase;
    color: white;
    width: 350px;
    background: #00000094;
    padding: 10px;
    text-align: center;
    font: bold 24px/34px Helvetica, Sans-Serif;
}
</style>
