body{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-image: url("../img/main background.png");
    overflow: hidden;
}

.header{
    position: absolute;
    font-family: "Garamond";
    color: white;
    top: 5%;
    left: 0;
    width: 100%;
    height: 10%;
    background-image: url("../img/main line.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.alphabet{
    position: absolute;
    font-family: "Garamond";
    color: white;
    top: 10%;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list{
    position: absolute;
    font-family: "Garamond";
    color: white;
    top: 15%;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;

    list-style-position: inside;
    -moz-column-count: 4; /* Firefox */
    -webkit-column-count: 4; /* Safari and Chrome */
    column-count: 4;
    list-style-type: decimal;
    height: 200px;
}
